{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> se deconnecter</a>
        </div>
    {% endif %}

    <main>
        <div class="login-box">
            <div class="card"> 
                <div class="login-header">
                    <h1>Please sign in</h1>
                </div>
                <div class="input-box">
                    <input type="email" value="{{ last_username }}" class= "input-field" name="email" id="inputEmail" placeholder="Email" autocomplete="off" required> 
                </div>
                <div class="input-box">
                    <input type="password"  name="password" id="inputPassword" class= "input-field" placeholder="Password" autocomplete="off" required>
                </div>
                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}" >
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="input-submit">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </div>
        </div>   
    </main>    
</form>
{% endblock %}
