<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheet %}
    {{ encore_entry_link_tags('home') }}
    {% endblock %}
</head>
<body>
    <header class="header" id="header">
        <nav class="nav">
            <a href="#" class="nav_logo">Voyage Connect</a>
            
            <div class="nav_menu" id="nav-menu">
                {% if app.user %}
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{{ path('app_home') }}" class="nav_link">Home</a>
                    </li>
                    
                    <li class="nav_item">
                        <a href="{{ path('app_api')}}" class="nav_link">Explore</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">About Us</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('app_post') }}" class="nav_link">Posts</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('app_logout') }}" class="login">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav_item">
                        <a href="{{ path('app_register')}}" class="login">Sign In</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('app_login')}}" class="login">Login</a>
                    </li>
                </ul>
                {% endif %}
            
                <!-- Close Button -->
                <div class="nav_close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>
        </nav>
        <!-- Close Button -->
    </header>
    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
       <section class="home" id="home">
           <!--<img src="./img/home-bg.jpg" alt="" class="home_bg">-->
           <video class="home_bg" src="{{asset('video/5.mp4')}}" autoplay muted loop></video>
           

           <div class="home_container">
               <div class="home_data">
                {% if app.user %}
                    <h3 class="home_subtitle">Welcome {{app.user.pseudo}}</h3>
                {% else %}
                   <h3 class="home_subtitle">Welcome travellers </h3>
                {% endif %}  
                   <h1 class="home_title">Are you ready ?</h1>
                   {% if app.user %}
                   <a href="{{ path('app_post') }}" class="button">See your feed<i class="ri-arrow-right-line"></i></a>
                   {% else %}
                   <a href="{{ path('app_login') }}" class="nav_link">Start Your Journey<i class="ri-arrow-right-line"></i></a>
                   {% endif %}
               </div>
           </section>

           <section class="main-section">
               <h2 class="big-title">Destinations</h2>
               <div class="home_cards">
                   <article class="home_card">
                       <img src="{{asset('img/a.jpg')}}" alt="" class="home_card-img">
                       <h3 class="home_card-title">Africa</h3>
                       <div class="home_card-shadow"></div>
                   </article>

                   <article class="home_card">
                       <img src="{{asset('img/am.jpg')}}" alt="" class="home_card-img">
                       <h3 class="home_card-title">America</h3>
                       <div class="home_card-shadow"></div>
                   </article>

                   <article class="home_card">
                       <img src="{{asset('img/b.jpg')}}" alt="" class="home_card-img">
                       <h3 class="home_card-title">Asia</h3>
                       <div class="home_card-shadow"></div>
                   </article>
                   
                   <article class="home_card">
                       <img src="{{asset('img/home-mountain.jpg')}}" alt="" class="home_card-img">
                       <h3 class="home_card-title">Europe</h3>
                       <div class="home_card-shadow"></div>
                   </article>

                   <article class="home_card">
                       <img src="{{asset('img/home-beach.jpg')}}" alt="" class="home_card-img">
                       <h3 class="home_card-title">Oceania</h3>
                       <div class="home_card-shadow"></div>
                   </article>

               </div>
           </div>
       </section>

       <!--==================== EXPLORE ====================-->
       <section class="explore" id="explore">
           <div class="explore_container">
               <div class="explore_content">
                   <div class="explore_data">
                       <h2 class="big-title">Explore The <br> 
                           Best Paradises
                       </h2>

                       <p class="explore_descriscription"> Exploring paradises such as islands and 
                           valleys when traveling the world is one of 
                           the greatest experiences when you travel,<br> it 
                           offers you harmony and peace and you 
                           can enjoy it with great comfort.
                       </p>
                   </div>
               </div>
           </div>
       </section>

       <!--==================== POPULAR ====================-->
       <section class="popular section" id="popular">
           <div class="popular_posts">
               <div class="popular_subhead">
                   <h2 class="big-title">Posts Trending</h2>
                   <p class="post_descriscription">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, veniam nobis <br>assumenda atque voluptatum voluptates, 
                       adipisci molestias consequatur eius maiores.
                   </p>
               </div>

               <div class="posts">
                   <div class="post-card">
                       <img class="post-card-img"src="{{asset('img/popular-forest.jpg')}}" alt="">
                       <h5 class="post-card-title">Title of post</h5>
                   </div>
                   <div class="post-card">
                       <img class="post-card-img" src="./img/popular-lake.jpg" alt="">
                       <h5 class="post-card-title">Title of post</h5>
                   </div>
                   <div class="post-card">
                       <img class="post-card-img" src="{{asset('img/popular-mountain.jpg')}}" alt="">
                       <h5 class="post-card-title">Title of post</h5>
                   </div>
               </div>
             
               <a class="button" href="#">See More <i class="ri-arrow-right-line"></i></a>
           </div>
           
       </section>
        
       
        
       <!--==================== JOIN ====================-->
       <section class="join section">
           
       </section>
   </main>

   <!--==================== FOOTER ====================-->
   <footer class="footer">
        
   </footer>

    
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {{ encore_entry_script_tags('app') }}
       
    {% endblock %}
</body>
</html>


