<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheet %}
    {{ encore_entry_link_tags('home') }}
    {% endblock %}
</head>
<body>
    <header class="header" id="header">
        <nav class="nav">
            <a href="{{ path('app_home') }}" class="nav_logo">Voyage Connect</a>
            
            <div class="nav_menu" id="nav-menu">
                {% if app.user %}
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{{ path('app_home') }}" class="nav_link">Home</a>
                    </li>
                    
                    <li class="nav_item">
                        <a href="{{ path('app_api')}}" class="nav_link">Explore</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">About Us</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('app_post') }}" class="nav_link">Posts</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ path('app_logout') }}" class="login">Log Out</a>
                    </li>
                {% else %}
                    <div class="navflex">
                        <li class="nav_item">
                            <a href="{{ path('app_register')}}" class="login">Sign In</a>
                        </li>
                        <li class="nav_item">
                            <a href="{{ path('app_login')}}" class="login">Login</a>
                        </li>
                    </div>
                    {% endif %}
                    <!-- Close Button -->
                    <div class="nav_close" id="nav-close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </ul>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="fa-solid fa-bars" id="menu"></i>
            </div>
        </nav>
        <!-- Close Button -->
    </header>
    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
       <section class="home" id="home">
           <!--<img src="./img/home-bg.jpg" alt="" class="home_bg">-->
           <video class="home_bg" src="{{asset('video/5.mp4')}}" autoplay muted loop></video>
           

            <div class="home_container">
                <div class="home_data">
                    {% if app.user %}
                    <h3 class="home_subtitle">Welcome {{app.user.pseudo}}</h3>
                    {% else %}
                   <h3 class="home_subtitle">Welcome travellers </h3>
                   {% endif %}  
                   <h1 class="home_title">Are you ready ?</h1>
                   {% if app.user %}
                   <a href="{{ path('app_post') }}" class="button">See your feed<i class="ri-arrow-right-line"></i></a>
                   {% else %}
                   <a href="{{ path('app_login') }}" class="button">Start Your Journey<i class="ri-arrow-right-line"></i></a>
                   {% endif %}
                </div>
            </div>
        </section>
        
        <section class="main-section">
            <img src="{{asset('img/img.png')}}" class="compass" alt="boussole">
            <h2 class="big-title">Destinations</h2>
            <div class="home_cards">
                {% for region, image in regions %}
                {# {{ dump(image) }} #}
                <article class="home_card">
                    <a href="{{ path('detailRegion',{region}) }}">
                        <img src="{{ asset(image) }}" alt="{{ region }}" class="home_card-img">
                        <h3 class="home_card-title">{{ region }}</h3>
                    </a>
                </article>
                {% endfor %}
            </div>
       </section>

       <!--==================== EXPLORE ====================-->
        <section class="explore" id="explore">
           <div class="explore_container">
               <div class="explore_content">
                   <div class="explore_data">
                       <h2 class="big-title">Explore The <br> 
                           Best Paradises
                       </h2>

                       <p class="explore_descriscription"> Exploring paradises such as islands and 
                           valleys when traveling the world is one of 
                           the greatest experiences when you travel,<br> it 
                           offers you harmony and peace and you 
                           can enjoy it with great comfort.
                       </p>
                   </div>
               </div>
           </div>
        </section>

       <!--==================== POPULAR ====================-->
        <section class="popular section" id="popular">
            <div class="popular_posts">
               <img src="{{asset('img/img.png')}}" class="compass" alt="boussole">
               <div class="popular_subhead">
                   <h2 class="big-title">Posts Trending</h2>
                   <p class="post_descriscription">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, veniam nobis <br>assumenda atque voluptatum voluptates, 
                       adipisci molestias consequatur eius maiores.
                   </p>
               </div>

                <div class="posts" id="post-gallery">
                    {% if trendingPosts is not empty %}
                        {% for post in trendingPosts %}
                        <div class="post-card">
                            <a href="{{ path('show_post', {'id': post.id})}}">
                                <img class="post-card-img" src="{{asset('uploads/' ~ post.image)}}" alt="{{ post.title }}">
                                <p class="post-card-title">{{ post.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
               <a class="button" href="{{ path('app_post') }}">See More <i class="ri-arrow-right-line"></i></a>
           </div>  
         </section>
        
   </main>

   <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__addr">
            <h3 class="footer__logo">Voyage Connect</h3>
        </div>
        
        <ul class="footer__nav">
            <li class="nav__item">
            <h2 class="nav__title">About us</h2>
        
            <ul class="nav__ul">
                <li class="nav__li">
                <a class="nav__a" href="#">About us</a>
                </li>
        
                <li class="nav__li">
                <a  class="nav__a" href="#">FAQ</a>
                </li>
                    
                <li class="nav__li" >
                <a class="nav__a"  href="#">Contact Us</a>
                </li>
            </ul>
            </li>
            
            <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            
            <ul class="nav__ul">
                <li class="nav__li">
                <a class="nav__a"  href="#">Privacy Policy</a>
                </li>
                <li class="nav__li">
                    <a href="#">Settings & privacy</a>
                </li>
                
                <li class="nav__li">
                <a class="nav__a"  href="#">Terms of Use</a>
                </li>
    
            </ul>
            </li>
        </ul>
        
        <div class="legal">
            <p>&copy;  Nour ABDOU project.</p>
        </div>
    </footer>

    
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {{ encore_entry_script_tags('app') }}
       
    {% endblock %}
</body>
</html>


