{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main>
        <div class="login-box">
            <div class="card"> 
                <div class="login-header">
                    <h1>Join the community</h1>
                    <p>Get more features and priviliges by joining to the most helpful community</p>
                </div>
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                    <div class="input-box">
                        {# <input type="text" class= "input-field" placeholder="Pseudo" autocomplete="off" required> #}
                        {{ form_row(registrationForm.pseudo) }}
                    </div>
                    <div class="input-box">
                        {# <input type="text" class= "input-field" placeholder="Email" autocomplete="off" required> #}
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="input-box">
                        {# <input type="password" class= "input-field" placeholder="Password" autocomplete="off" required> #}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </div>
                    <div class="input-box">
                        {{ form_row(registrationForm.agreeTerms) }}
                        {# <input type="password" class= "input-field" placeholder="Repeat Password" autocomplete="off" required> #}
                    </div>
                    <div class="input-submit">
                        <button class="submit-btn">
                            <label for="submit">Register</label>
                        </button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="card">
                <div class="home-image"></div> 
            </div>
        </div>
    </main> 
{% endblock %}
