{% extends 'base.html.twig' %}

{% block title %}AddComment{% endblock %}

{% block body %}
    <div class="registration-form">
        <div>
            {% if edit %}
                <h1 class="add_title">Update comment</h1>
            {% else %}
                <h1 class="add_title"> add comment</h1>
            {% endif %}
        </div>

        {{ form_start(formAddcomment) }}
    
            <div class="form-icon">
                    <img src="{{asset('img/img.png')}}" class="compass" alt="boussole">
            </div>
            <div class="form-group">
                {{ form_row(formAddcomment.text,{
                    'attr': {
                        'class': 'd-flex w-100 border border-secondary' } })  }}
            </div>
            <div class="form-group">
                {{ form_row(formAddcomment.submit) }}
            </div>
            
        {{ form_end(formAddcomment) }}

    </div>    


{% endblock %}