{% extends 'base.html.twig' %}

{% block title %}AddComment{% endblock %}

{% block body %}
{% if edit %}
    <h1>Update comment</h1>
{% else %}
    <h1> add comment</h1>
{% endif %}

{# {{form(formAddstagiaire)}} #}

{{ form_start(formAddcomment) }}

    
        {{ form_row(formAddcomment.text) }}
        {{ form_row(formAddcomment.creationDate) }}
        {{ form_row(formAddcomment.user) }}
    
        <button class="btn btn-lg btn-primary" type="submit">
            Send
        </button>
    
{{ form_end(formAddcomment) }}


{% endblock %}