{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
<div class="container" style="display: flex;flex-wrap: wrap; justify-content:center; flex-direction: column; align-items: center">
    
    {% for comment in comments %}
        <div class="card rounded" style=" width: 30%; margin: 25px; ">
            <a style="text-align:center;" href="{{ path('show_comment', {'id': comment.id})}}">{{comment}}</a> <br>
            {# {% if is_granted('ROLE_ADMIN') %} #}
            <div id="button" style="text-align:center;">
                <a class="btn btn-warning" href="{{ path('edit_comment', {'id':comment.id}) }}">Edit</a> 
                <a class="btn btn-danger" href="{{ path('delete_comment', {'id':comment.id}) }}">Delete</a><br>
            </div>
            {# {% endif %} #}
        </div>
    {% endfor %}
    <div class="adtbtn">
        <a class="btn btn-primary" href="{{ path('add_comment')}}">Add post </a><br>
    </div>
    
</div>
{% endblock %}
