{% extends 'base.html.twig' %}

{% block title %}Users Pannel{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "components/_adminNav.html.twig" %}
            <div class="col-9 d-flex flex-column  align-items-center border border-light bg-transparent p-3">
                <h3 class="text-uppercase fs-3">list of users</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Pseudos</th>
                            <th>E-mail</th>
                            <th>Roles</th>
                            <th>Verified</th>
                            <th>Ban</th>
                            <th>Number of Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.pseudo}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role == "ROLE_ADMIN" %}
                                        {% set name = "Administrateur" %}
                                        {% set color = "danger" %}
                                       
                                    {% else %}
                                        {% set name = "Membre" %}
                                        {% set color = "success" %}
                            
                                    {% endif %}
                                    <span class="badge bg-{{color}}">{{ name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}" {{ user.isVerified ? "checked" : "" }} disabled>
                                    <label class="form-check-label" for="switch{{ user.id }}"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <form action="{{ path('admin_users_ban') }}" method="post" id="banForm">
                                        <input class="form-check-input" type="checkbox" name="isBanned" role="switch" id="switch{{ user.id }}" {{ user.isBanned ? "checked" : ""}} onchange="this.form.submit()">
                                        <input type="hidden" name="userId" value="{{ user.id }}">
                                    </form>
                                </div>
                            </td>
                            <td>{{user.posts|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div> 
{% endblock %}  


