<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-left">
                <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">
                <a href="{{ path('app_home') }}">Voyage Connect</a>
            </div>
            
            <div class="nav-center">
                <div class="search-box w-100">
                    {# <img src="{{asset('img/images/search.png')}}" alt="">
                    <input type="text" placeholder="search"> #}
                    {% include "components/_search_data.html.twig" with {
                        form: form ?? null
                    } only %}
                </div>
            </div>
            
            <div class="nav-right">
                <ul>
                    <li><img src="{{ asset('img/images/notification.png') }}" alt=""></li>
                    <li><img src="{{ asset('img/images/inbox.png') }}" alt=""></li>
                    <li><img src="{{asset('img/images/video.png')}}" alt=""></li>
                </ul>

                <div class="nav-user-icon online">
                    {% if app.user %}
                        {% if app.user.avatar == null %}
                            <img src="{{asset('img/user.png')}}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="">
                        {% endif %}
                    {% endif %}
                </div>

                <div class="settings-menu">
                    <div id="dark-btn" >
                        <span></span>
        
                    </div>
                    <div class="settings-menu-inner">
                        <div class="user-profile">
                            {% if app.user %}
                            {% if app.user.avatar == null %}
                                <img src="{{asset('img/user.png')}}">
                            {% else %}
                                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="">
                            {% endif %}
                        {% endif %}
                            <div>
                                <p>{{app.user.pseudo}}</p>
                                <a href="{{ path('show_user', {'id': app.user.id})}}">See your profil</a>
                            </div>
                        </div>
                        <hr>
                        <div class="user-profile">
                            <img src="{{asset('img/images/feedback.png')}}" alt="">
                            <div>
                                <p>Give a feedback</p>
                                <a href="#">Help to improve profile</a>
                            </div>
                        </div>
                        <hr>
                        <div class="settings-links">
                            <img src="{{asset('img/images/setting.png')}}" alt="" class="settings-icon">
                            <a href="#">Settings & privacy <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/help.png')}}" alt="" class="settings-icon">
                            <a href="#">Help & support <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/display.png')}}" alt="" class="settings-icon">
                            <a href="#">Display & Acces <img src="{{asset('img//images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/logout.png')}}" alt="" class="settings-icon">
                            <a href="#"> logout <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                    </div>
        
                </div>
            </div>
        </nav>
        
        <div class="container">
            
            <div class="left-sidebard">
                <div class="imp-links">
                    <h5>Menu</h5>
                    <a href="{{ path('app_home') }}"><i class="fas fa-home"></i>Home</a>
                    <a href="{{ path('app_post') }}"><i class="fas fa-tasks"></i>Questions</a>
                    <a href="#"><i class="fas fa-tag"></i>Tag</a>
                    <a href="#">See more</a>
                </div>
                <div class="shorcut-links">
                    <h5>Personal Navigator</h5>
                    <a href="#"><i class="fas fa-question-circle"></i>Your Question </a>
                    <a href="#"><i class="fas fa-heart"></i>Your likes</a>
                    <a href="#"><i class="fas fa-bookmark"></i>Your Bookmarks</a>
    
                </div>
            </div>

            <div class="main-content">
                {% block body %}{% endblock %}
                <button type="button" class="load-more-btn">load-more</button>
            </div>

            <div class="right-sidebard">
                <div class="sidebar-title">
                    <h4>Most-reading posts</h4>
                    <a href="#">See All</a>
                </div>
                <div class="event">
                    <div class="left-event">
                        <h3>18</h3>
                        <span>March</span>
                    </div>
                    <div class="right-event">
                        <h4>Social Media</h4>
                        <p><i class="fa-solid fa-location-dot"></i>willson Tech park</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <div class="event">
                    <div class="left-event">
                        <h3>22</h3>
                        <span>June</span>
                    </div>
                    <div class="right-event">
                        <h4><i class="fa-solid fa-location-dot"></i>Mobile Marketing</h4>
                        <p>willson Tech park</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <div class="sidebar-title">
                    <h4>Featured links</h4>
                    <a href="#">Close</a>
                </div>
                <a href="#"><img class="sidebar-ads"  src="{{asset('img/images/advertisement.png')}}" alt="">latest News</a>
                <a href="#"><img class="sidebar-ads"  src="{{asset('img/images/feed-image-4.png')}}" alt="">Friends</a>
                <a href="#"><img class="sidebar-ads"  src="{{asset('img/images/feed-image-3.png')}}" alt="">Group</a>
                <div class="sidebar-title">
                    <h4>Conversation</h4>
                    <a href="#">Hide Chat</a>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-1.png')}}" alt="">
                    </div>
                    <p>Alison Brie</p>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-2.png')}}" alt="">
                    </div>
                    <p>Jackson Wang</p>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-3.png')}}" alt="">
                    </div>
                    <p>Rose Acer</p>
                </div>
            </div>
        </div>

        {% block javascripts %}
            
            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('nav') }} #}
        {% endblock %}
    </body>
</html>
