<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navmenu">
            <div class="nav-left">
                <a href="{{ path('app_home') }}">Voyage Connect</a>
            </div>
            
            <div class="search">
                <input class="form-control" type="text" id="live_search" placeholder="Search...">
                <div id="result"></div>
            </div>
            
            <div class="nav-right">
                <ul>
                    <li><i class="fa-solid fa-bell"></i></li>
                    <li><i class="fa-solid fa-envelope"></i></li>
                </ul>

                <div class="nav-user-icon online">
                    {% if app.user %}
                        {% if app.user.avatar == null %}
                            <img src="{{asset('img/user.png')}}">
                        {% else %}
                            <img src="{{asset('uploads/' ~ app.user.avatar)}}" >
                            <i class="fas fa-caret-down"></i> 
                        {% endif %}
                    {% endif %}
                </div>

                <div class="settings-menu">
                    <div id="dark-btn" >
                        <span></span>
        
                    </div>
                    <div class="settings-menu-inner">
                        <div class="user-profile">
                            {% if app.user %}
                            {% if app.user.avatar == null %}
                                <img src="{{asset('img/user.png')}}">
                            {% else %}
                                <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
                            {% endif %}
                        {% endif %}
                            <div>
                                {% if app.user %}
                                <p>{{app.user.pseudo}}</p>
                                <a href="{{ path('app_user', {'id': app.user.id})}}">See your profil</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="user-profile">
                            <img src="{{asset('img/images/feedback.png')}}" alt="">
                            <div>
                                <p>Give a feedback</p>
                                <a href="#">Help to improve profile</a>
                            </div>
                        </div>
                        <hr>
                        <div class="settings-links">
                            <img src="{{asset('img/images/setting.png')}}" alt="" class="settings-icon">
                            <a href="#">Settings & privacy <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/help.png')}}" alt="" class="settings-icon">
                            <a href="#">Help & support <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/display.png')}}" alt="" class="settings-icon">
                            <a href="#">Display & Acces <img src="{{asset('img//images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                        <div class="settings-links">
                            <img src="{{asset('img/images/logout.png')}}" alt="" class="settings-icon">
                            <a href="{{ path('app_logout')}}"> logout <img src="{{asset('img/images/arrow.png')}}" width="10px" alt=""></a>
                        </div>
                    </div>
        
                </div>
            </div>
        </nav>
        
        <div class="cont">
            
            <div class="left-sidebard">
                <div class="imp-links">
                    <h5>Menu</h5>
                    <table>
                        <tr>
                            <td><i class="fas fa-home"></i></td>
                            <td><a href="{{ path('app_home') }}">Home</a></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-tasks"</td>
                            <td><a href="{{ path('app_post') }}"></i>Posts</a</td>
                        </tr>
                        <tr>
                            <td><i class="fa-brands fa-wpexplorer fa-lg"></i></td>
                            <td><a href="{{ path('app_api')}}"></i>Api</a></td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-tag"></i></td>
                        <td><a href="#"></i>Tag</a></td>
                        </tr>
                    </table>
                    {# <div class="imp-link-flex">
                        <a href="{{ path('app_home') }}"><i class="fas fa-home"></i>Home</a>
                        <a href="{{ path('app_post') }}"><i class="fas fa-tasks"></i>Posts</a>
                        <a href="{{ path('app_api')}}"><i class="fa-brands fa-wpexplorer fa-lg"></i>Api</a>
                        <a href="#"><i class="fas fa-tag"></i>Tag</a>
                    </div> #}
                </div>
                <div class="shorcut-links">
                    <h5>Personal Navigator</h5>
                    <a href="#"><i class="fas fa-question-circle"></i>Your Posts</a>
                    <a href="#"><i class="fas fa-heart"></i>Your likes</a>
                    <a href="#"><i class="fas fa-bookmark"></i>Your Bookmarks</a>
    
                </div>
            </div>

            <div class="main-content">
                {% block body %}{% endblock %}
            </div>

            <div class="right-sidebard">
                <div class="sidebar-title">
                    <h4><i class="fa-solid fa-arrow-trend-up"></i>Most-reading posts</h4>
                    <a href="#">See All</a>
                </div>
                <div class="event">
                    {# {% for post in posts %}
                        {% if post.likes|length > 1 %}
                            <div class="post">
                            <li>{{ post.title }}</li>
                            </div>
                        {% endif %}
                    {% endfor %} #}
                </div>

                <div class="sidebar-title">
                    <h4><i class="fa-solid fa-list"></i>Featured links</h4>
                </div>
                <div class="rgpd-links">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">CGU</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </div>
                
            </div>
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('nav') }} #}
        {% endblock %}
    </body>
</html>
