<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Axentix CSS minified version -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> #}
        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {% endblock %}
    </head>
    <body>
        
            <nav class="nav-user">
                <div class="logo">
                    <img src="{{ asset('img/logo.png') }}" alt="">
                    <a href="{{ path('app_home') }}" class="linklogo">
                        <span class="nav-item">Voyage Connect</span>
                    </a>
                </div>
                <ul class="sidebar">
                    <li><a href="{{ path('app_home') }}">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a></li>
                    <li><a href="{{ path('app_post') }}">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Posts</span>
                    </a></li>
                    <li><a href="{{ path('app_api')}}"><i class="fas fa-tasks"></i>
                        <span class="nav-item">Explore</span>
                    </a></li>
                    <li><a href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-item">Setting</span>
                    </a></li>
                    <li><a href="#">
                        <i class="fas fa-question-circle"></i>
                        <span class="nav-item">Help</span>
                    </a></li>
                    <li><a href="{{ path('app_logout')}}"class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">log out</span>
                    </a></li>
                </ul>
            </nav>
       

        <main id="main-user">
        {% block body %}{% endblock %}
        </main>
      
        {% block javascripts %} 
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
