<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>messenger</title>
</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messenger</h1>
                <h2> Inbox</h2>
                <p>received: {{app.user.received|length}}</p>
            </div>
            <div class="col-3">from</div>
            <div class="col-3">Subject</div>
            <div class="col-3">Date</div>
            <div class="col-3">Actions</div>
            {% for message in app.user.received %}
                {% if message.isread == false %}
                    {%set bold = "fw-bold"%}
                {% else %}
                    {%set bold = ""%}
                {% endif %}
                <div class="col-3{{bold}}">{{message.sender.email}}</div>
                <div class="col-3{{bold}}">{{message.title}}</div>
                <div class="col-3{{bold}}">{{message.createdAt|date}}</div>
                <div class="col-3">Actions</div>
            {% endfor %}
            
            <div class="d-flex flex-row">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    See my folder
                </a>
                <a href="{{path('send')}}" class="btn btn-primary ms-3">Send a message</a>
            </div>
        </div>
    </div>
</section>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasExampleLabel">My folder</h2>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group">
        <a class="list-group-item list-group-item" href="{{path('app_messages')}}">Home</a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item active" href="{{path('received')}}">Inbox</a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item" href="{{path('app_messages')}}">Sent</a>
      </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
