
{% extends 'base.html.twig' %}

{% block title %}AddPost{% endblock %}

{% block body %}
{% if edit %}
    <h1>Update a post</h1>
{% else %}
    <h1> Add a post </h1>
{% endif %}



{{ form_start(formAddpost) }}

    {{ form_row(formAddpost.title) }}
    {{ form_row(formAddpost.description) }}
    {{ form_row(formAddpost.image) }}
    {{ form_widget(formAddpost.country) }}

{{ form_end(formAddpost) }}


{% endblock %}