{% extends 'base.html.twig' %}

{% block title %}DetailPost{% endblock %}

{% block body %}

<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="{{asset('img/images/profile-pic.png')}}" alt="">
            <div>
                <p>{{post.user}}</p>
                <span>{{post.creationDate | date ('d/m/Y') }}</span>
            </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <h1>{{post}}</h1>
    <p class="post-text">
        {{post.description}}
    </p>

    <img src="./images/feed-image-1.png" class="post-img" alt="">

    <div class="post-row">
        <div class="activity-icons">
            <div><img src="{{asset('img/images/like.png')}}" alt="">120</div>
            <div><img src="{{asset('img/images/comments.png')}}" alt="">15</div>
            <div><img src="{{asset('img/images/share.png')}}" alt="">20</div>

        </div>
        <div class="post-profile-icon">
            <img src="./images/profile-pic.png" alt=""><i class="fas fa-caret-down"></i>

        </div>
    </div>
</div>

{% for comment in post.comments %}
<div class="comment-container">
    <div class="comment-row">
        <div class="user-profile">
            <img src="{{asset('img/images/profile-pic.png')}}" alt="">
            <div>
                <p>{{comment.user}}</p>
                <span>{{comment.creationDate | date ('d/m/Y') }}</span>
            </div>
        </div>
    </div>
    <p class="comment-text">
     {{comment}} <br>
    </p>
</div>
{% endfor %}

<div class="addbtn">
    <a class="add-post-btn" href="{{ path('add_comment')}}">Add comment </a><br>
</div>

{% endblock %}