{% extends 'base.html.twig' %}

{% block title %}DetailPost{% endblock %}

{% block body %}

<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            {% if post.user.avatar == null %}
                <img src="{{asset('img/user.png')}}">
            {% else %}
                <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
            {% endif %}
            <div>
                <p>{{post.user}}</p>
                <span>{{post.creationDate | date ('d/m/Y') }}</span>
            </div>
        </div>
        <a href="{{ path('app_post') }}">Back</a>
    </div>
    <h1>{{post}}</h1>
    <p class="post-text">
        {{post.description}}
    </p>

    <img style="max-width:50%" src="{{asset('uploads/' ~ post.image)}}" class="post-img" alt="">

    <div class="post-row">
        <div class="activity-icons">
            <div>{% include "components/_like.html.twig" %}</div>
            <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
            <div>{% include "components/_favoritepost.html.twig" %}</div>
        </div>
    </div>
</div>

{% for comment in post.comments %}
<div class="comment-container">
    <div class="comment-row">
        <div class="user-profile">
            {% if comment.user.avatar == null %}
                <img src="{{asset('img/user.png')}}">
            {% else %}
                <img src="{{asset('uploads/' ~ comment.user.avatar)}}" > 
            {% endif %}
            <div class="user-profile-info">
                <p>{{comment.user}}</p>
                <span class="dot"></span>
                <span>{{comment.creationDate | date ('d/m/Y') }}</span>
            </div>
        </div>
    </div>
    <p class="comment-text">
        {{comment}} <br>
    </p>
    <div class="post-btn">
        {# {% include "components/_likeComment.html.twig" %} #}
        <button class="btn-edit"><a href="{{ path('edit_comment', {'id':comment.id}) }}">Edit</a></button> 
        <button class="btn-delete" ><a href="{{ path('delete_comment', {'id':comment.id}) }}">Delete</a></button><br>
    </div>
</div>
{% endfor %}

<div class="addbtn">
    <button class="btn-add"><a href="{{ path('add_comment', {'postId': post.id} ) }}">Add</a></button><br>
</div>

{% endblock %}