{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}


{% block body %}

<div class="write-post-container">
    <div class="user-profile">
        {% if app.user.avatar == null %}
                  <img src="{{asset('img/user.png')}}">
            {% else %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="">
            {% endif %}
        <div>
            <p>{{app.user.pseudo}}</p>
            <small>Public <i class="fas fa-caret-down"></i></small>
        </div>
    </div>
    <div class="post-input-container">
        <textarea rows="3" placeholder="What's on your mind, {{app.user.pseudo}} ?"></textarea>
        <div class="add-post-links">
            <div class="post-links">
                <a href="#"><img src="{{asset('img/images/live-video.png')}}" alt="">Live video</a>
                <a href="#"><img src="{{asset('img/images/photo.png')}}" alt="">Photo/video</a>
                <a href="#"><img src="{{asset('img/images/feeling.png')}}" alt="">Feeling/Activity</a>
            </div>
            <div class="addbtn">
                <button class="btn-add"><a href="{{ path('add_post')}}">Add</a></button><br>
            </div>
        </div>
    </div>
</div>

{% for post in posts %}
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            {% if app.user.avatar == null %}
                  <img src="{{asset('img/user.png')}}">
            {% else %}
                    <img src="{{ vich_uploader_asset(post.user, 'imageFile') }}" alt="">
            {% endif %}
            <div>
                <p><a href="{{ path('show_user', {'id': post.user.id})}}">{{post.user.pseudo}}</a></p>
                <span>{{post.creationDate| format_datetime(locale='fr') }}</span>
            </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <p class="post-text">
        <a  href="{{ path('show_post', {'id': post.id})}}">{{post}}</a><br>
        {{post.description}}
    </p>

    <img style="max-width:50%" src="{{ vich_uploader_asset(post, 'imageFile') }}" class="post-img" alt="">

    <div class="post-row">
        <div class="activity-icons">
            <div><img src="{{asset('img/images/like.png')}}" alt="">120</div>
            <div><img src="{{asset('img/images/comments.png')}}" alt="">15</div>
            <div><img src="{{asset('img/images/share.png')}}" alt="">20</div>

        </div>
        <div class="post-btn">
            <button class="btn-edit"><a href="{{ path('edit_post', {'id':post.id}) }}">Edit</a></button> 
            <button class="btn-delete" ><a href="{{ path('delete_post', {'id':post.id}) }}">Delete</a></button><br>
        </div>
    </div>
</div>
{% endfor %}



{# <div class="container" style="display: flex;flex-wrap: wrap; justify-content:center; flex-direction: column; align-items: center">
    
    {% for post in posts %}
        <div class="card rounded" style=" width: 30%; margin: 25px; ">
            <a style="text-align:center;" href="{{ path('show_post', {'id': post.id})}}">{{post}}</a> <br>
            {# {% if is_granted('ROLE_ADMIN') %} #}
            {# <div id="button" style="text-align:center;">
                <a class="btn btn-warning" href="{{ path('edit_post', {'id':post.id}) }}">Edit</a> 
                <a class="btn btn-danger" href="{{ path('delete_post', {'id':post.id}) }}">Delete</a><br>
            </div> #}
            {# {% endif %} #}
        {# </div> #}
    {# {% endfor %} #}
    {# <div class="adtbtn">
        <a class="btn btn-primary" href="{{ path('add_post')}}">Add post </a><br>
    </div> #}
    
{# </div> #} 

{% endblock %}
