{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}


{% block body %}

<div class="write-post-container">
    <div class="user-profile">
        {% if app.user.avatar == null %}
            <img src="{{asset('img/user.png')}}">
        {% else %}
            <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
        {% endif %}
          
        <div>
            <p>{{app.user.pseudo}}</p>
            <small>Public <i class="fas fa-caret-down"></i></small>
        </div>
    </div>
    <div class="post-input-container">
        <div class="addbtn">
            <button class="btn-add"><a href="{{ path('add_post')}}">Add Post </a></button><br>
        </div>
        {# <div class="add-post-links">
            <div class="post-links">
                <a href="#"><img src="{{asset('img/images/live-video.png')}}" alt="">Live video</a>
                <a href="#"><img src="{{asset('img/images/photo.png')}}" alt="">Photo/video</a>
                <a href="#"><img src="{{asset('img/images/feeling.png')}}" alt="">Feeling/Activity</a>
            </div>
        </div> #}
    </div>
</div>

{% for post in posts %} 
{# {{ dump(post) }} #}
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            {% if post.user.avatar == null %}
                  <img src="{{asset('img/user.png')}}">
            {% else %}
                <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
            {% endif %}
            <div>
                <p><a href="{{ path('show_user', {'id': post.user.id})}}">{{post.user.pseudo}}</a></p>
                <span>{{post.creationDate| format_datetime(locale='fr') }}</span>
            </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <p class="post-text">
        <a  href="{{ path('show_post', {'id': post.id})}}">{{post}}</a><br>
        {{post.description}}
    </p>

    <img style="max-width:50%" src="{{asset('uploads/' ~ post.image)}}" class="post-img" alt="">

    <div class="post-row">
        <div class="activity-icons">
            <div>{% include "components/_like.html.twig" %}{{ post.likes|length }}</div>
            <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
            <div>{% include "components/_favoritepost.html.twig" %}</div>

        </div>
        <div class="post-btn">
            <button class="btn-edit"><a href="{{ path('edit_post', {'id':post.id}) }}">Edit</a></button> 
            <button class="btn-delete" ><a href="{{ path('delete_post', {'id':post.id}) }}">Delete</a></button><br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
