{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}


{% block body %}
<div class="post-input-container">
    <button class="btn-add"><a href="{{ path('add_post')}}">Add Post </a></button><br>
</div>

{% for post in posts %} 
{# {{ dump(post) }} #}
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            {% if post.user.avatar == null %}
                  <img src="{{asset('img/user.png')}}">
            {% else %}
                <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
            {% endif %}
            <div>
                <p><a href="{{ path('show_user', {'id': post.user.id})}}">{{post.user.pseudo}}</a></p>
                <span>{{ post.creationTime }}</span>
            </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <div class="post-text">
        <h5>
            <a  href="{{ path('show_post', {'id': post.id})}}">{{post}}</a><br>
        </h5>
        <p>{{post.description}}</p>
    </div>
    <figure>
        <img src="{{asset('uploads/' ~ post.image)}}" class="post-img" alt="">
    </figure>

    <div class="post-row">
        <div class="activity-icons">
            <div>{% include "components/_like.html.twig" %}{{ post.likes|length }}</div>
            <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
            <div>{% include "components/_favoritepost.html.twig" %}</div>

        </div>
        <div class="post-btn">
            <button class="btn-edit"><a href="{{ path('edit_post', {'id':post.id}) }}">Edit</a></button> 
            <button class="btn-delete" ><a href="{{ path('delete_post', {'id':post.id}) }}">Delete</a></button><br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
