{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="container" style="display: flex;flex-wrap: wrap; justify-content:center; flex-direction: column; align-items: center">
    
    {% for post in posts %}
        <div class="card rounded" style=" width: 30%; margin: 25px; ">
            <a style="text-align:center;" href="{{ path('show_post', {'id': post.id})}}">{{post}}</a> <br>
            {# {% if is_granted('ROLE_ADMIN') %} #}
            <div id="button" style="text-align:center;">
                <a class="btn btn-warning" href="{{ path('edit_post', {'id':post.id}) }}">Edit</a> 
                <a class="btn btn-danger" href="{{ path('delete_post', {'id':post.id}) }}">Delete</a><br>
            </div>
            {# {% endif %} #}
        </div>
    {% endfor %}
    <div class="adtbtn">
        <a class="btn btn-primary" href="{{ path('add_post')}}">Add post </a><br>
    </div>
    
</div>

{% endblock %}
