{# Vérifie si un utilisateur est connecté.  #}
{% if app.user %} 
{# Si connecté, crée un lien avec l'URL de l'action de like pour le post en utilisant la route nommée "app_like" #}
    <a  href="{{ path('app_like', {id: post.id}) }}" data-action="like" data-nb={{ post.likes|length }}>
    {% endif %}

    <button class="like-btn">
        {# Icône du coeur vide #}
        <i class="fa-regular fa-heart unfilled {{ app.user in post.likes ? 'd-none' : '' }}"></i>
        {# Icône du coeur rempli #}
        <i style="color:red" class="fa-solid fa-heart filled {{ app.user in post.likes ? '' : 'd-none' }}"></i>
    </button>
    <span class="ml-2">{{ post.likes|length }}</span>

    {% if app.user %}
        </a>
{% endif %}