{% extends 'base.html.twig' %}

{% block title %}Explore Countries{% endblock %}

{% block body %}
    <div class="countries" id="countries">
        {% for country in countries %}
        {# {{ dump(country) }} #}
        <div class="country-div">
            <a href="{{ path('country_details', { 'countryCode': country.cca3 }) }}">
                <img class= "flag-img" src="{{country.flags.png }}" alt="{{ country.name.common }}">
                <h2>{{ country.name.common }}</h2>
            </a>
            <hr>
            <h4>Population: {{ country.population }}</h4>
            <h4>Region: {{ country.region }}</h4>
            <h4>Capital: {{ country.capital[0] }}</h4> 
        </div>
        {% endfor %}
{% endblock %}
