
{% block title %}edit profil of {{app.user.pseudo}} !{% endblock %}

{% block body %}
    <div>
        <div >
            <h1>Profil of {{app.user.pseudo}}</h1>
        </div>

        {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.avatar) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}
