{% extends 'user.html.twig' %}

{% block title %}edit profil of {{app.user.pseudo}} !{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Profil of {{app.user.pseudo}}</h1>
        </div>

        {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.avatar) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}
