{% extends 'user.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<div class="main-header">
    <div class="header-container">
        <div class="cover">
            <div class="button-Profile">
                <p>Edit Profile</p>
            </div>
        </div>
        <div class="profile-user">
            <div class="pseudo">
                <p>{{app.user.pseudo}}</p>
            </div>
            <figure>
                {% if app.user.avatar == null %}
                    <img src="{{asset('img/avatars/user.png')}}">
                {% else %}
                    <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
                {% endif %}
            </figure>
        </div>
        <div class="button-cover">
            <p >Edit Cover Photo</p>
        </div>
    </div>

    <div class="main-contenaire">
        <div class="post-user">
            <div class="title">
                <span class="v31_264"> About        Posts        Comments </span>
            </div>
            
            {% for post in app.user.posts %}
            <div class="post-profile">
                <div class="post-profile-info">
                    <div class="detail">
                        {% if post.user.avatar == null %}
                            <img src="{{asset('img/avatars/user.png')}}">
                        {% else %}
                            <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
                        {% endif %}
                        <div class="name-date">
                            <p class="v31_217">{{post.user.pseudo}}</p>
                            <span class="v31_218">{{post.creationDate |format_datetime(locale='fr') }}</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>
                <div class="post-content ">
                    <h3>{{post}}</h3>
                    <p class="post-text">
                        {{post.description}}
                    </p>
                    <figure>
                        <img src="{{asset('uploads/' ~ post.image)}}"  alt="">
                    </figure>
                </div>
                <div class="post-profile-info">
                    <div>{% include "components/_like.html.twig" %}</div>
                    <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
                    <div>{% include "components/_favoritepost.html.twig" %}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="right-side">
            <div class="top-section">
                <div class="side-title">
                    <h4>Your might know</h4>
                    
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-1.png')}}" alt="">
                    </div>
                    <p>Alison Brie</p>
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-2.png')}}" alt="">
                    </div>
                    <p>Jackson Wang</p>
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-3.png')}}" alt="">
                    </div>
                    <p>Rose Acer</p>
                </div>
            </div>

            <div class="down-section">
                <div class="side-title">
                    <h4>Your Messages</h4>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                    </div>
                    <p>Inbox</p>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-message fa-xl"></i>
                    </div>
                    <p>Send a message</p>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                    <p>draft</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
