{% extends 'user.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="main-header">
        <div class="small-profil">
            <div class="v31_96">
                <div class="v31_97"></div>
                <div class="v31_98"></div>
            </div>
            <div class="v31_99">
                <span class="v31_100">Charles Deo</span>
                <span class="v31_101">Log out</span>
            </div>
            <div class="v31_102">
                <div class="name"></div>
            </div>
        </div>

        <div class="v31_120">
            <div class="v31_121"></div>
            <div class="v31_122">
                <div class="v31_125">
                    <span class="v31_126">{{app.user.pseudo}}</span>
                </div>
                <div class="v31_127">
                    <div class="v31_128">
                        <div class="v31_129">
                        {% if app.user.avatar == null %}
                            <img src="{{asset('img/avatars/user.png')}}">
                        {% else %}
                            <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="v31_132">
                <div class="v31_134"></div>
                <div class="v31_135">
                    <span class="v31_136">Edit Profile</span>
                </div>
            </div>
            <div class="v31_137">
                <div class="v31_138">
                    <div class="v31_139"></div>
                </div>
                <div class="v31_140">
                    <span class="v31_141">Edit Cover Photo</span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-contenaire">
        <div class="post-user">
            <div class="title">
                <span class="v31_264"> About        Posts        Comments </span>
            </div>
            
            {% for post in app.user.posts %}
            <div class="post-profile">
                <div class="post-profile-info">
                    <div class="detail">
                        {% if post.user.avatar == null %}
                            <img src="{{asset('img/avatars/user.png')}}">
                        {% else %}
                            <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
                        {% endif %}
                        <div class="name-date">
                            <p class="v31_217">{{post.user.pseudo}}</p>
                            <span class="v31_218">{{post.creationDate |format_datetime(locale='fr') }}</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>
                <div class="post-content ">
                    <h3>{{post}}</h3>
                    <p class="post-text">
                        {{post.description}}
                    </p>
                    <img src="{{asset('uploads/' ~ post.image)}}"  alt="">
                </div>
                <div class="post-profile-info">
                    <div>{% include "components/_like.html.twig" %}</div>
                    <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
                    <div>{% include "components/_favoritepost.html.twig" %}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="right-side">
            <div class="top-section">
                <div class="side-title">
                    <h4>Your might know</h4>
                    
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-1.png')}}" alt="">
                    </div>
                    <p>Alison Brie</p>
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-2.png')}}" alt="">
                    </div>
                    <p>Jackson Wang</p>
                </div>
                <div class="suggestion-list">
                    <div class="online">
                        <img src="{{asset('img/images/member-3.png')}}" alt="">
                    </div>
                    <p>Rose Acer</p>
                </div>
            </div>

            <div class="down-section">
                <div class="side-title">
                    <h4>Your Messages</h4>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                    </div>
                    <p>Inbox</p>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-message fa-xl"></i>
                    </div>
                    <p>Send a message</p>
                </div>
                <div class="box">
                    <div class="div">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                    <p>draft</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
