{% extends 'user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-1 green light-4 text-green text-dark-4">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>Profil of {{app.user.pseudo}}</h1>
                {% if app.user.avatar == null %}
                  
                    <img src="{{asset('img/avatars/user.png')}}">
                {% else %}
                
                    <img src="{{asset('img/avatars/' ~ app.user.avatar)}}" > 
                {% endif %}

        </div>
        
        <div class="col-xs1">Pseudo</div>
        <div class="col-xs3">{{app.user.pseudo}}</div>
        <div class="col-xs1">Email</div>
        <div class="col-xs3">{{app.user.email}}</div>
        
        <div class="col-xs4">
            <a href="{{path('edit_user')}}" class="btn blue">Edit Profile</a>
            <a href="" class="btn blue">Edit MDP</a>
        </div>

        <div class="col-xs4">
            <h1>Post of {{app.user.pseudo}} ({{app.user.posts|length}})</h1>
        </div>
        {% for post in app.user.posts %}
            <div class="col-xs1">title</div>
            <div class="col-xs3">{{post.title}}</div>
        {% endfor %}
        
    </div>
{% endblock %}
