{% extends 'user.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="main-header">
        <div class="small-profil">
            <div class="v31_96">
                <div class="v31_97"></div>
                <div class="v31_98"></div>
            </div>
            <div class="v31_99">
                <span class="v31_100">Charles Deo</span>
                <span class="v31_101">Log out</span>
            </div>
            <div class="v31_102">
                <div class="name"></div>
            </div>
        </div>

        <div class="v31_120">
            <div class="v31_121"></div>
            <div class="v31_122">
                <div class="v31_125">
                    <span class="v31_126">{{app.user.pseudo}}</span>
                </div>
                <div class="v31_127">
                    <div class="v31_128">
                        <div class="v31_129">
                        {% if app.user.avatar == null %}
                            <img src="{{asset('img/avatars/user.png')}}">
                        {% else %}
                            <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="v31_132">
                <div class="v31_134"></div>
                <div class="v31_135">
                    <span class="v31_136">Edit Profile</span>
                </div>
            </div>
            <div class="v31_137">
                <div class="v31_138">
                    <div class="v31_139"></div>
                </div>
                <div class="v31_140">
                    <span class="v31_141">Edit Cover Photo</span>
                </div>
            </div>
        </div>
    </div>

    <div class="v31_210">
        <div class="v31_211">
            <div class="titre">
                <span class="v31_264"> About        Posts        Comments </span>
            </div>
            
            {% for post in app.user.posts %}
            <div class="v31_212">
                <div class="v31_213">
                    
                    {% if post.user.avatar == null %}
                        <img src="{{asset('img/avatars/user.png')}}">
                    {% else %}
                        <img src="{{asset('uploads/' ~ post.user.avatar)}}" > 
                    {% endif %}
                
                </div>
                <div class="v31_216">
                    <span class="v31_217">{{post.user.pseudo}}</span>
                    <span class="v31_218">{{post.creationDate | date ('d/m/Y') }}</span>
                </div>
                <div class="v31_219">
                    <h3>{{post}}</h3>
                    <p class="post-text">
                        {{post.description}}
                    </p>
                    <img src="{{asset('uploads/' ~ post.image)}}"  alt="">
                </div>
                <div class="v31_221">
                    <div>{% include "components/_like.html.twig" %}</div>
                    <div><i class="fa-regular fa-message"></i> {{post.comments|length }}</div>
                    <div>{% include "components/_favoritepost.html.twig" %}</div>
                </div>
                
            </div>
            {% endfor %}
        </div>

    </div>

    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Profil of {{app.user.pseudo}}</h1>
                {% if app.user.avatar == null %}
                  
                    <img src="{{asset('img/avatars/user.png')}}">
                {% else %}
                
                    <img src="{{asset('uploads/' ~ app.user.avatar)}}" > 
                {% endif %}

        </div>
        
        <div class="col-xs1">Pseudo</div>
        <div class="col-xs3">{{app.user.pseudo}}</div>
        <div class="col-xs1">Email</div>
        <div class="col-xs3">{{app.user.email}}</div>
        
        <div class="col-xs4">
            <a href="{{path('edit_user')}}" class="btn blue">Edit Profile</a>
            <a href="{{path('edit_password', {'id': app.user.id})}}" class="btn blue">Edit MDP</a>
        </div>

        <div class="col-xs4">
            <h1>Post of {{app.user.pseudo}} ({{app.user.posts|length}})</h1>
        </div>
        {# {% for post in app.user.posts %} #}
            <div class="col-xs1">title</div>
            {# <div class="col-xs3">{{post.title}}</div> #}
        {# {% endfor %} #}
        
        <div class="col-xs4">
            <h1>Comment of {{app.user.pseudo}} ({{app.user.posts|length}})</h1>
        </div>
        {% for comment in app.user.comments %}
            <div class="col-xs1">comments</div>
            <div class="col-xs3">{{comment.text}}</div>
        {% endfor %}

        <div class="col-xs4">
            <a href="{{path('delete_user',{'id':app.user.id})}}" class="btn error">Delete Profile</a>
        </div>

    </div>
{% endblock %}
